
<div class="container">

  <div class="flex-container">

    <div class="inner-box1">
      <img src="assets/list.png" class="list-image" alt="" />
      <br>
      <!-- <button class="listview-button-red" (click)="listview()">Listview</button> -->
      <a routerLink="/listview" routerLinkActive="active" ><button class="listview-button-red">Listview</button></a>
      <!-- <input type="button" value="Listview" class="listview-button-red"> -->
    </div>
  <div class="inner-box2">
    <img src="assets/doc.png" class="list-image" alt="" />
        <br>

        <!-- <button class="listview-button-green" (click)="form()">Form</button> -->
       <a routerLink="/form" routerLinkActive="active" ><button class="listview-button-green">Form</button></a>
  </div>
  </div>
</div>
