<head>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
</head>

<div class="container">

  <div class="flex-container">

    <div class="inner-box1">
      <img src="assets/list.png" class="list-image" alt="" />
      <br>
      <button class="listview-button-red" (click)="listview()">Listview</button>
      <!-- <input type="button" value="Listview" class="listview-button-red"> -->
    </div>
  <div class="inner-box2">
    <img src="assets/doc.png" class="list-image" alt="" />
        <br>

        <button class="listview-button-green" (click)="form()">Form</button>

  </div>
  </div>
</div>
