.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Abel';
}

.xev{
  width: 400px;
  height: 500px;
}
.container {
  padding: 16px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  width: 400px;
  text-align: center;
    height: auto;
}
input[type=text], input[type=password]{
  width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid gray;

}

input[type=text]:focus, input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #707570;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 20px;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}
.heading{
  text-align: center;
}

.butoon_box{
  text-align: center;
}
.radio-button2{
   display: inline-block;
  float: left;
  margin-left: 30px;
  border: 1px solid gray;
  width: 150px;
  height: 32px;
  padding-top: 10px;
}
.radio-button{
  display: inline-block;
  float: left;
  margin-left: 30px;
  border: 1px solid gray;
  width: 150px;
  height: 32px;
  padding-top: 10px;
}
.boxparent{
  height: 800px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .container{
    width: 280px;
  }

  .radio-button{
    margin-left: 21px;
    width: 100px;
}
.radio-button2{
  margin-left: 21px;
  width: 100px;
}
.boxparent{
  height: 600px;
}
}
.validation-error {
  text-align: initial;
  color: red;
  margin-left: 2%;
}
.input-contols{
  padding-bottom: 15px;
}
