<div class="flex-container">
  <div class="child-felx" style="flex-grow: 8">
    <h3>List View</h3>
    <!-- <div class="sort-button-class">
      <button (click)="sortTable(1)" class="sort-button">Sort Table</button>
    </div> -->

    <table id="myTable">
      <!-- <th *ngFor="let column of headers">
        {{ column }}
      </th> -->
      <th>NO <span><button class="arrow" (click)="sortTablebyid()">^</button></span> </th>
      <th>Name <span><button class="arrow" (click)="sortTable(1)">^</button></span> </th>
      <th>Gender</th>
      <th>Email</th>
      <th>Number</th>
      <th>Message</th>
      <tr *ngFor="let row of this.arrayval; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.gender }}</td>
        <td>{{ row.email }}</td>
        <td>{{ row.contact }}</td>
        <td>{{ row.message }}</td>
      </tr>
    </table>
  </div>

  <div class="child-felx dex" style="flex-grow: 4">
    <h3>Pie Chart</h3>
    <div class="lablel">
      <div class="female"></div>
      <span>female</span>&nbsp;
      <div class="male"></div>
      <span>male</span>
    </div>

    <div class="pie">
      <ejs-accumulationchart id="chart-container" [legendSettings]="legendSettings" class="piechart">
        <e-accumulation-series-collection>
          <e-accumulation-series [dataSource]="piedata" xName="x" yName="y" [dataLabel]="chartLabel">
          </e-accumulation-series>
        </e-accumulation-series-collection>
      </ejs-accumulationchart>
    </div>

    <!-- <body>
      <div class="piechart">

      </div>
    </body> -->
  </div>
</div>
